@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

:root {
  --black: #1E1E1E;
  --white: #FFFFFF;

  --purple: #59469a;
  --yellow: #f8d92b;
  --timer-font: "Tomorrow", sans-serif;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background);
  color: var(--primary);
  line-height: 1.7;
  /* background-image: url(../src/assets/pngwing.com.png) */
}

.card_container, .btn_container, .result_container {
  margin-bottom: 1.5rem;
  display: flex;
  height: 5rem;
  justify-content: center;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.button_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* ====================== TABLETS ====================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ====================== PHONES ====================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-top: 2rem;
  }
}
