.select_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 2rem;
  border: 5px solid var(--purple);
  margin: 0 5px 0 5px;
  transition: var(--transition);
}

.number_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 50%;
  margin: 0 5px 0 5px;
  border: 5px solid var(--purple);
  transition: var(--transition);
}

